<h1>New Blog Post</h1>

<div class="new-blog-form">

	<%= form_for(@post) do |form| %>
		<% if @post.errors.any? %>
	    <div id="error_explanation">
	    	<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

	      	<ul>
	      		<% @post.errors.full_messages.each do |msg| %>
	        		<li><%= msg %></li>
	      		<% end %>
	      	</ul>
	    </div>
		<% end %>  

		<%= form.label :title %><br>
		<%= form.text_field :title %><br>

		<%= form.label :content %><br>
		<%= form.text_area :content %><br>

		<%= form.submit "Publish" %> 
	<% end %>

</div>
