<!DOCTYPE html>
<html>
<head>
  <title>Chris Dziewa | Web Developer</title>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Poiret+One' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Kameron' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |type, message| %>
    	<div class="<%= type %>">
    		<%= message %>
    	</div>
  <% end %>		
<%= yield %>

</body>
</html>
